nav {
    position: fixed;
      background-color: transparent; 
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
    }
    
    nav ul {
      list-style-type: none; 
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    nav li {
      margin: 0 .9rem; 
    }
    
    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: .8rem 1rem;
      text-decoration: none;
    }
    
    nav li a:hover {
      background-color: #111; 
    }